.app-container {
    box-sizing: border-box;
    border: 1px dashed black;
    height: 90vh;
    width: 90vw;
    margin: 30px auto;
    padding: 30px;
}

.search-input {
    border: 2px solid black;
    height: 40px;
    padding: 15px;
}

.posts_container {
    display: flex;
    justify-content: start;
    align-content: flex-start;
    flex-wrap: wrap;
    border: 2px solid black;
    height: 80%;
    margin: 10px 0;
    padding: 15px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    max-width: 120px;
    height: 120px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.post:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.post-body {
    /* line-clamp needs all 4 lines bellow to show only 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* .post-navigation-container {
    text-align: center;
}

.page-number {
    margin: 10px;
    pointer-events: none;
}

.arrow {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.arrow:disabled {
    color: rgba(150, 150, 150, 0.5);
    pointer-events: none;
} */

.modal-back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .75);
    z-index: 10000;
}

.modal-window {
    max-height: 350px;
    width: 450px;
    background-color: white;
    border: 2px solid black;
    padding: 16px;
}

.modal-window-header {
    display: flex;
    justify-content: flex-end;
}

.modal-window-acton-buttons-container {
    margin: 1em 0;
    display: flex;
    justify-content: center;
}

.alert-container {
    position: absolute;
    top: 15%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgb(228, 228, 228);
}

.alert-message_updating {
    border: 2.5px dashed blue;
    padding: 10px;
}

.alert-message_error {
    border: 2.5px solid red;
    padding: 10px;
}